<!DOCTYPE html>
<!-- xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"により共通ファイルとして扱うことが可能に -->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8" />
    <!-- titleはページごとに変更したいためその対応を記述 -->
    <!-- $DECORATOR_TITLEには各ページで定義したtitleが代入される -->
    <!-- $CONTENT_TITLEには共通ファイル(このファイル)に定義したtitleが代入される -->
    <title layout:title-pattern="$DECORATOR_TITLE - $CONTENT_TITLE">baseball</title>
    <!-- cssとjavascriptのファイルを読み込む -->
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <!-- 各ページのコンテンツをこの部分と入れ替える -->
    <div layout:fragment="content"></div>
  </body>
</html>